USE [master]
GO
/****** Object:  Database [PC]    Script Date: 6/1/2017 10:16:09 AM ******/
CREATE DATABASE [PC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PC.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PC]
GO
/****** Object:  Table [dbo].[Pc]    Script Date: 6/1/2017 10:16:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PC_Name] [nvarchar](200) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[HDD] [nvarchar](50) NULL,
	[CPU] [nvarchar](100) NULL,
	[RAM] [nvarchar](50) NULL,
	[OS] [nvarchar](50) NOT NULL,
	[IP] [nvarchar](50) NULL,
	[MAC] [nvarchar](50) NULL,
	[MAC2] [nvarchar](50) NULL,
	[NV] [nvarchar](100) NULL,
	[NVCode] [int] NULL,
	[PB] [nvarchar](50) NOT NULL,
	[Office_Located] [nvarchar](50) NOT NULL,
	[ServiceTag] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 6/1/2017 10:16:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
